* {
	position: absolute;
}

html {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
}


#header {
	top: 0;
	left: 0;
	width: 100%;
	height: 20%;
}

#left-header {
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
}

#level, #moves {
	top: 0;
	color: #28aadc;
	font-size: 18px;
	font-weight: bold;
}

#level {
 	left: 20px;
}

#moves {
	left: 120px;
}

#right-header {
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
}

#right-header button {
	right: 20px;
	top: 0;
	padding: 10px;
	background-color: #ff3c50;
	color: #fff;
	font-size: 14px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

img {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#game-wrapper {
	float: left;
	clear: both;
	overflow: hidden; /* tiles now pass up their dimensions to game-wrapper */
	position: relative;
	width: 100%;
	height: 60%;
	top: 60px;
	left: 0;
	min-width: 960px;
	min-height: 600px;
}

.tile {
	position: absolute;
	float: left;
	width: 25%;
	height: 25%;
	padding: 10%;
	box-sizing: border-box;
	border: 5px solid #fff;
}

.inside-tile {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.tile-back, .tile-front {
	/* puts the top-left corner of back and front in the top-left corner of each tile */
	top: 0;
	left: 0; /* just to make sure it's in the right place */
	width: 100%;
	height: 100%;
}

.tile-back {
	/* padding: 10%;
	box-sizing: border-box; */
	display: block;
	background: url("img/default/logo-bw.png") 50% 50% no-repeat;
	/* combines background-image, background-position, and background-repeat */
	/* positions the image in the middle of the div */
	background-color: #dcdee1;
}
 
.tile-front {
	display: none;
	/* we don't want the front image to display until we click on the tile */
}

#footer {
	background-color: #28aadc;
	bottom: 0;
	right: 0;
	height: 20%;
	width: 100%;
}

.one {
	top: 0;
	left: 0;
}

.two {
	top: 0;
	left: 25%;
}

.three {
	top: 0;
	left: 50%;
}

.four {
	top:0;
	left: 75%;
}

.five {
	top: 50%;
	left: 0;
}

.six {
	top: 50%;
	left: 25%;
}

.seven {
	top: 50%;
	left: 50%;
}

.eight {
	top: 50%;
	left: 75%;
}